[submodule "HPM-MVS_plusplus"]
	path = benchmark/HPM-MVS_plusplus
	url = https://github.com/gaborpelesz/HPM-MVS_plusplus
[submodule "APD-MVS"]
	path = benchmark/APD-MVS
	url = https://github.com/gaborpelesz/APD-MVS.git
[submodule "ACMMP"]
	path = benchmark/ACMMP
	url = https://github.com/gaborpelesz/ACMMP.git
[submodule "HPM-MVS"]
	path = benchmark/HPM-MVS
	url = https://github.com/gaborpelesz/HPM-MVS.git
[submodule "gipuma"]
	path = benchmark/gipuma
	url = https://github.com/gaborpelesz/gipuma.git
[submodule "ACMH"]
	path = benchmark/ACMH
	url = https://github.com/gaborpelesz/ACMH.git
[submodule "cuda-multi-view-stereo"]
	path = benchmark/cuda-multi-view-stereo
	url = https://github.com/gaborpelesz/cuda-multi-view-stereo.git
[submodule "ACMP"]
	path = benchmark/ACMP
	url = https://github.com/gaborpelesz/ACMP.git
